@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    margin: 0%;
    height: 0%;
    background-color: #3DACFD;
    /* background-color: aquamarine; */
    
/* .container{
    display: flex;
    justify-content: center;
} */
